@import "../../../../assets/styles/colors";

:host {
  height: 50px;
  background: $main-background;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__left {
      min-width: 130px;
    }

    &__center {
      width: 100%;
    }

    &__right {
      justify-content: center;
      min-width: 86px;
      padding-right: 8px;
    }
  }
}
