<div class="color-card" [@position]="state">
  <div class="color-card_title" (click)="expand()" [@titleBorder]="state">
    <h1>{{card.year}}</h1>
<!--    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" [@angleRotate]="state">-->
<!--      <path-->
<!--        d="M201.4 137.4c12.5-12.5 32.8-12.5 45.3 0l160 160c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L224 205.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l160-160z"/>-->
<!--    </svg>-->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" [@angleRotate]="state">
      <path
          d="M201.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 274.7 86.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/>
    </svg>
  </div>
  <div *ngIf="isExpanded" @expand class="color-card_content">
    <div class="color-card_color" [style.background-color]="card.color"></div>
    <div class="color-card_info">
      <div class="color-card_name">{{card.name}}</div>
      <div class="color-card_value">{{card.pantone_value}}</div>
    </div>
  </div>
</div>
